body {
    background-color: #F3F3F3;
    font-family: Arial, sans-serif;
}
.container {
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h2 {
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.btn-save {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.btn-save:hover {
    background-color: #45a049;
}