body {
    background-color: #F3F3F3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.titulo {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
}

.form-container {
    padding: 20px;
    width: 50%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.btn-guardar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-guardar:hover {
    background-color: #45a049;
}

.btn-cancelar {
    background-color: #F47777;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-cancelar:hover {
    background-color: #ff4d4d;
}
