body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

.user-icon {
    width: 40px;
    height: 40px;
    background: lightgray;
    border-radius: 50%;
}

.comic-container {
    display: flex;
    gap: 20px;
    padding: 49px;
    
    margin: auto;
    border-radius: 10px;

}

.comic-image img {
    width: 250px;
    border-radius: 5px;
}

.comic-details {
    flex: 2;
    padding-right: 20px;
}

.comic-details h2 {
    font-size: 24px;
    color: #4a1d1d;
}

.editorial {
    font-style: italic;
    color: #4a1d1d;
}

.description {
    color: #444;
}

.price {
    font-size: 22px;
    color: #4a1d1d;
    font-weight: bold;
    margin-top: 10px;
}

.comic-actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quantity-container {
    display: flex;
    align-items: center;
    background: #ddd;
    padding: 10px;
    border-radius: 5px;
}

.quantity-container label {
    margin-right: 10px;
}

.quantity-btn {
    background: none;
    border: 1px solid #444;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.quantity-container input {
    width: 50px;
    text-align: center;
    border: none;
    font-size: 16px;
    background: white;
}

.total {
    font-size: 18px;
    color: #4a1d1d;
    font-weight: bold;
}

.buy-btn {
    background: #5a2d82;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    text-align: center;
}
