/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #F3F3F3;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* Estilo para el título */
.titulo {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
}

/* Estilo para la tabla */
.tabla-container {
    padding: 20px;
    overflow-x: auto;
}

.tabla-clientes {
    width: 100%;
    border-collapse: collapse;
}

.tabla-clientes th, .tabla-clientes td {
    border: 1px solid #ddd;
    padding: 8px 12px;
    text-align: left;
}

.tabla-clientes th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.tabla-clientes tbody tr:nth-child(odd) {
    background-color: #fafafa;
}

/* Estilo para el botón "Agregar Proveedor" */
.btn-agregar {
    position: fixed; /* Fija el botón en la pantalla */
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la derecha */
    padding: 10px 15px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

.btn-agregar:hover {
    background-color: #45a049; /* Verde más oscuro al pasar el mouse */
}

/* Estilo para el botón de eliminar */
.btn-eliminar {
    color: white;
    background-color: #F47777;
    border: none;
    border-radius: 5px;
    padding: 4px 6px;
    cursor: pointer;
}

.btn-eliminar img {
    width: 16px;
    height: 16px;
}

.btn-eliminar:hover {
    background-color: #ff4d4d;
}

/* Estilo para el enlace "Actualizar" */
.update-btn {
    color: #007BFF; /* Azul */
    cursor: pointer;
    text-decoration: underline;
    margin-right: 10px; /* Espacio entre "Actualizar" y "Eliminar" */
    font-weight: bold;
}

.update-btn:hover {
    color: #0056b3; /* Azul más oscuro al pasar el mouse */
    text-decoration: none;
}