* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.appbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F4F3;
    padding: 2px 20px;
    color: #333;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25); 
    height: 60px;
}

.icono img, .user img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    object-fit: cover; 
}

.searchbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.searchbar input {
    width: 60%;
    max-width: 300px;
    padding: 13px;
    border: 1px solid #aaa;
    border-radius: 16px;
    background-color: #D9D9D9;
    font-size: 13px;
    text-align: left;
}





/* Estilos para el botón "Cerrar sesión" */
.user {
    position: relative; /* Para posicionar el botón de cierre de sesión */
}

.logout-button {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 50px; /* Debajo del avatar */
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000; /* Para que esté por encima de otros elementos */
}

.logout-button a {
    text-decoration: none; /* Quita el subrayado del enlace */
    color: white;
    background-color: #F47777;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    display: block; /* Para que ocupe todo el ancho del contenedor */
}

.logout-button a:hover {
    background-color: #ff4d4d; /* Cambia el color al pasar el mouse */
}

/* Ocultar el checkbox */
.logout-toggle {
    display: none;
}

/* Mostrar el botón "Cerrar sesión" cuando el checkbox esté marcado */
.logout-toggle:checked ~ .logout-button {
    display: block;
}