body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5E4B9A;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #5E4B9A;
}

.left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.image-top, .image-bottom {
    width: 100%;
    height: 50%;
}

.image-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
}

.image-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 70% 0, 40% 100%, 0 100%);
}

.right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px; /* Añade padding a los lados */
}

.register-box {
    background-color: #E6E1F0;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 60%; /* Reduce el ancho del formulario */
    max-width: 400px; /* Opcional: Limita el ancho máximo */
}

.register-box h1 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

.register-box input {
    width: calc(100% - 20px); /* Ajusta el ancho de los inputs */
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #D3C4E9;
    border-radius: 5px;
    font-size: 14px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.back-btn {
    background-color: #A39AAF;
    color: white;
}

.back-btn:hover {
    background-color: #8B8396;
}

.next-btn {
    background-color: #5E4B9A;
    color: white;
}

.next-btn:hover {
    background-color: #4C3B84;
}