body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5E4B9A;
}

.container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    border: 3px solid #5E4B9A;
    overflow: hidden;
    background-color: #5E4B9A;
}

.left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.left-side .image-top,
.left-side .image-bottom {
    width: 100%;
    height: 50%;
    position: relative;
}

.left-side .image-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
}

.left-side .image-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 70% 0, 40% 100%, 0 100%);
}

.right-side {
    width: 50%;
    background-color: #5E4B9A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px; /* Añade padding a los lados */
}

.login-box {
    background-color: #E6E1F0;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 60%; /* Reduce el ancho del formulario */
    max-width: 400px; /* Opcional: Limita el ancho máximo */
}

.login-box h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.login-box input {
    width: calc(100% - 20px); /* Ajusta el ancho de los inputs */
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #D3C4E9;
    border-radius: 5px;
}

.create-account {
    display: block;
    margin-bottom: 15px;
    color: #5E4B9A;
    text-decoration: none;
    font-size: 14px;
}

.create-account:hover {
    text-decoration: underline;
}

.login-btn {
    background-color: #5E4B9A;
    color: #fff;
    border: none;
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #4C3B84;
}
